@{
    <link href="@Url.Content("/Themes/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.blind.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.bounce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.clip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.drop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.fold.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.scale.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.slide.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.widget.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.button.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.mouse.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.sortable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.tabs.min.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/searchindex.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/wb.slideshow.js")"></script>
}


@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}

<div id="face"></div>
  <div id="head"></div>
  <div id="down"></div>
  <div id="menu1"></div>
  <div id="menu2"></div>
  <div id="menu3"></div>
  <div id="menu4"></div>
  <div id="menu up2">
   <a href="@Url.Action("Home")" id="home"></a>
   <a href="@Url.Action("Load")" id="load"></a>
   <a href="@Url.Action("Help")" id="help"></a>
   <a href="@Url.Action("Login")" id="login"></a>
  <a href="https://siteheart.com/webconsultation/379314?" id="siteheart3" 
  onclick="o=window.open;o('https://siteheart.com/webconsultation/379314?', 
  'siteheart_sitewindow_379314', 
  'width=550,height=400,top=30,left=30,resizable=yes'); 
  return false;"></a>
   <div/>
   <div id="blokaccount"></div>
   <a href="@Url.Action("Open")" id="open">Открыть счет</a>
   <a href="@Url.Action("Activate")" id="activate">Активировать счет</a>
   <a href="@Url.Action("Download")" id="download2">Скачать советник</a>
   <a href="@Url.Action("Advisors")" id="advisors">Советники</a>
   <a href="@Url.Action("Partner")" id="partner">Партнерам</a>
   <div id="brokblok"></div>
   <div id="downtex2">
   Чтобы получить советник Вам необходимо:
   </div>
   <br/><br/><br/>
   <div id="downtex">
   1. Открыть счет.
   <br/><br/>
   2. Активировать счет.
   <br/><br/><br/>
   После обработки Вашей заявки, советник будет отправлен Вам на почту вместе с видео инструкцией.
   </div>