@{
    <link href="@Url.Content("/Themes/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.blind.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.bounce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.clip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.drop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.fold.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.scale.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.slide.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.widget.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.button.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.mouse.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.sortable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.tabs.min.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/searchindex.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/wb.slideshow.js")"></script>
}


@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}

 <div id="face"></div>
  <div id="head"></div>
  <div id="down"></div>
  <div id="menu1"></div>
  <div id="menu2"></div>
  <div id="menu3"></div>
  <div id="menu4"></div>
  <div id="menu up2">
   <a href="@Url.Action("Home")" id="home"></a>
   <a href="@Url.Action("Load")" id="load"></a>
   <a href="@Url.Action("Help")" id="help"></a>
   <a href="@Url.Action("Login")" id="login"></a>
  </div>
  <div id="menuup">
   <a href="@Url.Action("Load")" id="pload">О советнике</a>
   <a href="@Url.Action("News")" id="pnews">Новости и отзывы</a>
   <a href="@Url.Action("Free")" id="pfree">Почему бесплатно?</a>
   <a href="@Url.Action("Forex")" id="pforexicon">Что такое forex?</a>
   <a href="@Url.Action("FAQ")" id="pfaq">Вопросы и ответы</a>
  </div>
  <div id="tex13">
  <b>· Рынок Forex - это международный валютный рынок.</b>
  <br/>
На рынке Форекс, как и на других рынках, основу деятельности составляет торговля тем или иным набором товаров.
В случае с Форекс этим набором товаров выступают национальные валюты разных стран.
  <br/>
  <br/>
  <b>· FOREX доступен всегда и везде.</b>
  <br/>
 Благодаря Интернету, Вы, находясь в любой точке мира, можете заключать сделки с клиентами,
 которые находятся на другом конце земного шара.
 Как уже говорилось выше - валютный рынок постоянно предоставляет Вам возможность заработать, т.к. 
 колебания курсов валют того или иного размера происходят по несколько раз в день. 
 Таким образом, активность движения курсов валют в совокупности с Вашим интеллектуальным потенциалом
 и новейшими компьютерными технологиями позволяют создать высокодоходный бизнес прямо сейчас.
  <br/>
  <br/>
  <b>· Проще чем кажется!</b>
  <br/>
Еще один бесспорный плюс рынка Форекс – это легкость вхождения на этот рынок. 
Найти надежного брокера не составляет трудностей.
 Благодаря нашему сайту, с помощью инструкций и круглосуточной тех-поддержкой, 
 Вы будете оснащены всеми необходимыми инструментами для успешной торговли.
  <br/>
  <br/>
  <b>· С какими брокерами мы работаем?</b>
  <br/>
Сегодня достаточно много брокерских компаний, и ми всегда стараемся учитывать желание наших партнеров. 
После регистрации на сайте ForexBox, в Вашем личном кабинете, 
Вам будет предоставлен выбор брокеров на свой вкус.
  <br/>
  </div>
