@{
    <link href="@Url.Content("/Themes/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.blind.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.bounce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.clip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.drop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.fold.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.scale.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.slide.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.widget.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.button.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.mouse.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.sortable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.tabs.min.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/searchindex.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/wb.slideshow.js")"></script>
}


@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}

 <div id="face"></div>
  <div id="head"></div>
  <div id="down"></div>
  <div id="menu1"></div>
  <div id="menu2"></div>
  <div id="menu3"></div>
  <div id="menu4"></div>
  <div id="menu up2">
   <a href="@Url.Action("Home")" id="home"></a>
   <a href="@Url.Action("Load")" id="load"></a>
   <a href="@Url.Action("Help")" id="help"></a>
   <a href="@Url.Action("Login")" id="login"></a>
  </div>
  <div id="menuup">
   <a href="@Url.Action("Load")" id="pload">О советнике</a>
   <a href="@Url.Action("News")" id="pnews">Новости и отзывы</a>
   <a href="@Url.Action("Free")" id="pfree">Почему бесплатно?</a>
   <a href="@Url.Action("Forex")" id="pforexicon">Что такое forex?</a>
   <a href="@Url.Action("FAQ")" id="pfaq">Вопросы и ответы</a>
  </div>
  <div id="tex12">
  <b>· Почему наш советник бесплатный?</b>
  <br/>
Многие задавались вопросом, почему на некоторых сайтах торговые советники продаются,
 а на других бесплатные? Все очень просто! Цель нашей компании основана на развитии партнерской программы.
 По-этому советник бесплатно предоставляется только нашим партнерам. 
 Брокер будет выплачивать нам небольшой процент с каждой закрытой Вами сделки.
 Например: Вы заключили сделку в 100$ c которой заработок брокера составил 10 $. 
 То если Вы не являетесь нашим клиентом, брокер удержит с Вас 10 $, если же Вы являетесь нашим клиентом, 
 брокер все равно удержит с Вас 10 $, просто 5 $. оставит себе, а 5 $. передаст нам.
  <br/>
  <br/>
  <b>· Тише едешь дальше будешь...</b>
  <br/>
 Некоторые тратят большие деньги на рекламу и раскрутку своих торговых систем,
 и зарабатывают в 10 раз больше когда их партнеры сливают из-за не качественного продукта.
 Мы же заинтересованы в длительных отношениях с клиентами, и глубоко заинересованы в заработке каждого из них. 
 Вы всегда можете обратиться в "онлайн поддержку" и получить все нужные наставления и рекомендации. 
  <br/>
  <br/>
  <b>· Партнерская программа.</b>
  <br/>
Когда Вы уже проверили работоспособность нашего советника, Вы можете так-же приглашать партнеров. 
Это будет дополнительный заработок для Вас и помощь для нас.
 Так как мы постоянно развиваемся и расширяемся, вклад каждого клиента послужит на разработку и обновления торговых систем. 
 Надеемся на взаимную выгоду и понимание!
  <br/>
  <br/>
За инструкциями по партнерке обращайтесь в "онлайн поддержку"
  </div>