@{
    <link href="@Url.Content("/Themes/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.blind.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.bounce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.clip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.drop.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.fold.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.scale.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.effects.slide.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.widget.min.js")"></script> 
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.button.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.mouse.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.sortable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.ui.tabs.min.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/searchindex.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/wb.slideshow.js")"></script>
}


@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {
        $("#SlideShow1").slideshow(
   {
       interval: 5000,
       type: 'sequence',
       effect: 'fade',
       direction: '',
       effectlength: 1000
   });
    });
        
</script>
<div id="face"></div>
  <div id="head"></div>
  <div id="down"></div>
  <div id="menu1"></div>
  <div id="menu2"></div>
  <div id="menu3"></div>
  <div id="menu4"></div>
  <div id="menu up2">
   <a href="home.html" id="homeicon"></a>
   <a href="load.html" id="load"></a>
   <a href="help.html" id="help"></a>
   <a href="login.html" id="login"></a>
  </div>
  <div id="menuup">
   <a href="load.html" id="pload">О советнике</a>
   <a href="news.html" id="pnews">Новости и отзывы</a>
   <a href="free.html" id="pfree">Почему бесплатно?</a>
   <a href="forex.html" id="pforex">Что такое forex?</a>
   <a href="faq.html" id="pfaq">Вопросы и ответы</a>
  </div>
  </div id="bloks">
  <div id="headblok"></div>
  <div id="headblok2"></div>
  <div id="headblok3"></div>
  <div id="headicon"></div>
  <div id="blokvideo"></div>
  <a href="https://siteheart.com/webconsultation/379314?" id="siteheart" onclick="o=window.open;o('https://siteheart.com/webconsultation/379314?', 'siteheart_sitewindow_379314', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;"></a>
  <a href="reg.html" id="regbutton"></a>
  <a href="#" id="video"></a>
  <a hre="" id="eng"></a>
  <div id="container">
  <div id="tex">инструкция</div>
  <div id="SlideShow1">
<img style="border-width:0;left:0px;top:0px;width:396px;height:87px;" src="images/1.PNG" alt="" title="">
<img style="border-width:0;left:0px;top:0px;width:396px;height:87px;display:none;" src="images/2.PNG" alt="" title="">
<img style="border-width:0;left:0px;top:0px;width:396px;height:87px;display:none;" src="images/3.PNG" alt="" title="">
</div>
</div>
  </div>