@{
    <link href="@Url.Content("/forexBox/style2.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.reveal.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.4.4.min.js")"></script>  
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-menu.js")"></script>  
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-1.6.2.min.js")"></script>  
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery-tubs.js")"></script> 
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquerytabs.min.js")"></script>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('div > a').click(function () {
            $('.container > div').hide();
            var i = $(this).data('id');
            $('#d' + i).fadeIn();
        });
        $("#urlHome").trigger("click");
    });
</script>

<script type="text/javascript">
    $(function () {
        $('dl.tabs dt').click(function () {
            $(this)
                .siblings().removeClass('selected').end()
                .next('dd').andSelf().addClass('selected');
        });
    });
</script>




<div class="content">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (ViewData.ContainsKey("IsPostSuccess") && (bool)ViewData["IsPostSuccess"])
        {        
        <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.alerts.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                jAlert("Settings were saccessfully saved.", "Settings");
            });
        </script>
        }
        
        <div style="margin: 50px;float:left">
            @using (Html.BeginForm("UpdateSettings", "Home", FormMethod.Post))
            {         
                <div>
                    <div style="float: left">
                        @Html.Partial("StatisticConfiguration", ViewBag.StatisticSettings as DL.UserStatisticSettings)
                    </div>
                    <div style="float: left; margin-left: 30px">
                        @Html.Partial("StatisticTabsConfiguration", ViewBag.StatisticSettings as DL.UserStatisticSettings)
                    </div>
                </div>
                <div style="clear: both">
                    <input type="submit" value="Update" />
                </div>
            }
        </div>
        <div style="margin: 50px">
            <div>@Html.ActionLink("Add Account","AddAccount")</div>
            <div>@Html.ActionLink("Manage Accounts","ManageAccounts")</div>
        </div>
    }
</div>

