@model DL.AccountData
<tr>
    <td>@Html.DisplayFor(x => x.Id)</td>
    <td>@Html.DisplayFor(x => x.System)</td>
    <td>@Html.DisplayFor(x => x.Broker)</td>
    <td>
        <div>
            <div style="float:left">
                @Html.ActionLink("Statistic", "Index", "Stats", new { controller = "Stats", action = "Index", accountId = Model.Id }, new { @class = "buttonStyle" })
            </div>            
            <div style="float:left;margin-left:10px">
                <a href="#" onclick="DeleteAccount(this, @Model.Id)" class="buttonStyle">Delete</a>
            </div>            
        </div>
    </td>
</tr>
