@model ForexBox.Models.ActivateAccountModel
@{
    <link href="@Url.Content("/forexBox/buttons.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/tooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.5.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.numeric.js")"></script>    
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Activate", "Home", FormMethod.Post))
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#activacc").val("");
            $(".integer").numeric(false, function() {
                alert("Только цифры");
                this.value = "";
                this.focus();
            });
        });

    </script>
    <center>
        
       <div id="all">
        <div id="face3"></div>
        @{     
    Html.RenderAction("MainDesign");
        }
    
       @if (HttpContext.Current.User.Identity.IsAuthenticated)
       {
        <a href="@Url.Action("LogOff")" class="loginbox">@ViewData["Exit"]</a>
       }
        <div id="menuaccaunt">
           <a href="@Url.Action("PammCabinet")" class="button gray">ПАММ счет</a>
           <a href="@Url.Action("Activate")" class="button gray2">Получить советник</a>
           <a href="@Url.Action("Withdraw")" class="button gray">Снять средства</a>
           <a href="@Url.Action("Partner")" class="button gray">Партнерка</a>
        </div>

        @{     
            Html.RenderAction("MainCabinet");
        }

            <script type="text/javascript">
                function checkAndSubmit() {
                    $("#cmbBrokers").val("4");
                    var selectedBroker = $("#cmbBrokers").val();
                   var accountNumber = $("#activacc").val();
                    var errorMessage = "";
                    if (selectedBroker == -1) {
                        errorMessage += "Выберите пожалуйста брокера\n";
                    }
                    if (accountNumber == "") {
                        errorMessage += "Введите пожалуйста номер счета\n";
                    }

                    if (errorMessage == "") {
                        alert("Номер счета добавлен! После обработки, советник будет отправлен на Ваш e-mail.");
                        $("form:first").submit();
                    } else {
                        alert(errorMessage);
                    }
                    return false;
                }

            </script>

           <div id="accblok">

           
           
               <div class="accountpanel">Скопируйте код, и нажмите на брокера!</div>

               <div class="alparipos">
                   <a href="http://alpari.ru/?partner_id=1211824" target="_blanck" class="button3 gray">Alpari</a>
               </div>
               <div class="alparicodpos">партнерский код - 1211824
               </div>
               <div class="butactpos">
                       <a href="" onclick="return checkAndSubmit();" class="button gray">Активация</a>
                   </div>

                   <div id="formbrokers">
                       @Html.DropDownListFor(m => m.BrokerID,
                                             new SelectList(ForexBox.Models.BrokerAccounts.GetBrokers(), "BrokerID", "BrokerName", -1),
                                             new { name = "brokers", id = "cmbBrokers" })

                   </div>
                   @Html.TextBoxFor(m => m.AccountNumber, new { id = "activacc", @class = "integer" })

                   <div class="accountpanel5">Введите номер счета, и активируйте!</div>

                   <div class="tablepos">
                       @if (Model.Accounts.Count() == 0)
                       {
                           <div id="acctext2">Вы еще не активировали ни одного счета.</div>
                       }
                       else
                       {

                          
                           <table cellspacing="0">
            
                               @foreach (var account in Model.Accounts)
                               {
              
                                   <tr>
                                       <td></td>
                                       <td>@account.AccountNumber</td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td>@account.StatusDescription</td>
                                       <td></td>
                                   </tr>
                
                               }
            
                           </table>
                           
                           

                       }
                   </div>
        
              

               </div>

        </div>
    </center>
}