@model ForexBox.Models.EmailResetModel
@{
    <link href="@Url.Content("/forexBox/style.css")" rel="stylesheet" type="text/css"/>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ForexBoxTrade2/javascript/tooltip.js")"></script>
}


@using (Html.BeginForm("Email", "Home", FormMethod.Post))
{

        <center>
        <div id="face">
        <div id="header"></div>
        <div id="down"></div>
        <div id="menuhome"></div>
        <div id="menuadviser"></div>
        <div id="menucomments"></div>
        <div id="menuhotlog"></div>
        <div id="hometab">
    <a href="@Url.Action("Index")" id="hometabicon"></a>
    <em>Главная</em>
    </div>
    <div id="advisortab">
    <a href="@Url.Action("Load")" id="advisertabicon"></a>
    <em>Советник</em>
    </div>
    <div id="helptab">
    <a href="@Url.Action("Help")" id="helptabicon"></a>
    <em>Контакты</em>
    </div>
        <div id="log">
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
                <a href="@Url.Action("Login")" id="login">Войти</a>
        }

           @if (HttpContext.Current.User.Identity.IsAuthenticated)
           {
                <a href="@Url.Action("LogOff")" id="logout">Выйти</a>
           }

        </div>
        <a href="https://siteheart.com/webconsultation/379314?"id="siteheart" 
        onclick="o=window.open;o('https://siteheart.com/webconsultation/379314?', 
        'siteheart_sitewindow_379314', 'width=550,height=400,top=30,left=30,resizable=yes'); 
        return false;"></a>
            <script type="text/javascript">
                function checkEmail(email) {
                var filter = @Html.Raw(ViewData["emailValidator"].ToString());
                if (!filter.test(email)) {
                    return false;
                } else {
                    return true;
                }
            }

                function CheckAndSubmit() {
                    var email = $("#email").val();
                    var errorMessage = "";
                    if(email == "") {
                        errorMessage += "Введите пожалуйста ваш адрес електронной почты\n";
                    }
                    if(!checkEmail(email)) {
                        errorMessage += "Неверный формат електронной почты\n";
                    }
            
                     if (errorMessage == "") {
                         alert("На вашу почту будет отправлено письмо с инструкциями и ссылкой. \n Пожалуйста нажмите на ссылку в письме чтоб восстановить пароль");
                         $("form:first").submit();
                     }
                    else {
                        errorMessage = "Исправте пожалуйста следующие ошибки:\n" + errorMessage;
                        alert(errorMessage);
                    }
                }
            </script>


            <div id="blokcentr">
            <div id="textemail2">Введите Ваш Email</div>
            @Html.TextBoxFor(m => m.Email, new { id = "email" })

                <div id="buttonemail2" onclick="return CheckAndSubmit(); ">Отправить</div>


        </div>

        </div>
        </center>
    
    }