@model DL.UserStatisticSettings
<div>
    <h4>Statistic Caption Visibility</h4>
    <div style="display:none">
        <input type="checkbox" />@*fake chackbox*@
    </div>
    @Html.HiddenFor(x => x.UserId)
    <table>
        <tbody>
            <tr>
                <td>@Html.EditorFor(x => x.IsGainVisible)</td>
                <td>Is Gain Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsWithdrawalsVisible)</td>
                <td>Is Withdrawals Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsViewsVisible)</td>
                <td>Is Views Visible</td>
            </tr>
@*            <tr>
                <td>@Html.EditorFor(x => x.IsUpdatedVisible)</td>
                <td>Is Updated Visible</td>
            </tr>*@
            <tr>
                <td>@Html.EditorFor(x => x.IsTypeVisible)</td>
                <td>Is Type Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsTradingVisible)</td>
                <td>Is Trading Visible</td>
            </tr>
@*            <tr>
                <td>@Html.EditorFor(x => x.IsTrackingVisible)</td>
                <td>Is Tracking Visible</td>
            </tr>*@
            <tr>
                <td>@Html.EditorFor(x => x.IsTimezoneVisible)</td>
                <td>Is Timezone Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsSystemVisible)</td>
                <td>Is System Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsStartedVisible)</td>
                <td>Is Started Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsProfitVisible)</td>
                <td>Is Profit Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsMonthlyIncomeVisible)</td>
                <td>Is Monthly Income Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsLeverageVisible)</td>
                <td>Is Leverage Visible</td>
            </tr>
@*            <tr>
                <td>@Html.EditorFor(x => x.IsInterestVisible)</td>
                <td>Is Interest Visible</td>
            </tr>*@
            <tr>
                <td>@Html.EditorFor(x => x.IsHighestVisible)</td>
                <td>Is Highest Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsEquityVisible)</td>
                <td>Is Equity Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsDrawdownVisible)</td>
                <td>Is Drawdown Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsDescriptionVisible)</td>
                <td>Is Description Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsDepositsVisible)</td>
                <td>Is Deposits Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsDailyIncomeVisible)</td>
                <td>Is Daily Income Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsBrokerVisible)</td>
                <td>Is Broker Visible</td>
            </tr>
            <tr>
                <td>@Html.EditorFor(x => x.IsBalanceVisible)</td>
                <td>Is Balance Visible</td>
            </tr>
        </tbody>
    </table>
</div>
