@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Core.Infrastructure.DependencyManagement
@{
    // var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
    
    //resources
    Html.AppendScriptParts(@Url.Content("~/Scripts/public.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/MicrosoftMvcAjax.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/MicrosoftAjax.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.validate.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-1.7.1.min.js"));
    
    
}


<!DOCTYPE html>
<html>
<head>
    <title>Forex box</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
</head>
    <body>
       @RenderBody()

        
    </body>
</html>
