@using ForexBox.Helpers;

@model DL.Statistic
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <link href="@Url.Content("/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.dataviz.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.dataviz.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.default.min.css")" rel="stylesheet" />


    <script src="@Url.Content("/Scripts/kendo/console.js")"></script>
    <script src="@Url.Content("/Scripts/kendo/jquery.min.js")"></script>
    <script src="@Url.Content("/Scripts/kendo/kendo.dataviz.min.js")"></script>

</head>
<body id="body">
    <div style="margin-top: 50px; margin-left: 50px">

        <div style="float: left">
            @Html.Partial("StatisticInfo", Model.ShortStatisticData)
        </div>
        <div class="box_cont" style="float: left;">
            <div class="boxTitle">
                <ul id="charts" class="titleNav">
                    <li class="bold" style="cursor: auto">Chart</li>
                    <li id="@Constants.GrowthChartId" class="on" onclick="selectChart($(this).attr('id'));">Growth</li>
                    <li id="@Constants.BalanceChartId" class="off" onclick="selectChart($(this).attr('id'));">Balance</li>
                    <li id="@Constants.ProfitChartId" class="off" onclick="selectChart($(this).attr('id'));">Profit</li>
                    <li id="@Constants.DrawdownChartId" class="off" onclick="selectChart($(this).attr('id'));">Drawdown</li>
                </ul>
            </div>

            <div class="chart-wrapper" style="float: left">
                <div id="chart"></div>
            </div>
        </div>
        <script>

            $(window).bind("popstate", function (e)
            {
                var state = e.originalEvent.state;
                if (state)
                    window.location.pathname = state.location;
            });

            $(document).ready(function ()
            {
                DrawChart("@Model.CurrentGraphType");
             });

             //var grandSlam =
             //    [{
             //    "year": "2003",
             //    "win": 13,
             //    "extremum": "MIN: 13",
             //    "loss": 3
             //},{
             //    "year": "2004",
             //    "win": 22,
             //    "loss": 1
             //},{
             //    "year": "2005",
             //    "win": 24,
             //    "loss": 2
             //},{
             //    "year": "2006",
             //    "win": 27,
             //    "extremum": "MAX: 27",
             //    "loss": 1
             //},{
             //    "year": "2007",
             //    "win": 26,
             //    "loss": 1
             //},{
             //    "year": "2008",
             //    "win": 24,
             //    "loss": 3
             //},{
             //    "year": "2009",
             //    "win": 26,
             //    "loss": 2
             //},{
             //    "year": "2010",
             //    "win": 20,
             //    "loss": 3
             //},{
             //    "year": "2011",
             //    "win": 20,
             //    "loss": 4
             //},{
             //    "year": "2012",
             //    "win": 19,
             //    "loss": 3
             //}];

             function createChart(grandSlam)
             {
                 $("#chart").kendoChart({
                     dataSource: {
                         data: grandSlam
                     },
                     title: {
                         text: "Roger Federer Grand Slam tournament performance"
                     },
                     legend: {
                         position: "bottom"
                     },
                     seriesDefaults: {
                         type: "line"
                     },
                     series: [{
                         field: "win",
                         name: "Wins",
                         noteTextField: "extremum",
                         notes: {
                             label: {
                                 position: "outside"
                             },
                             position: "bottom"
                         }
                     }, {
                         field: "loss",
                         name: "Losses"
                     }],
                     valueAxis: {
                         line: {
                             visible: false
                         }
                     },
                     categoryAxis: {
                         field: "year",
                         majorGridLines: {
                             visible: false
                         }
                     },
                     tooltip: {
                         visible: true,
                         template: "#= series.name #: #= value #"
                     }
                 });
             }

             function selectChart(chartId)
             {
                 var url = window.location.pathname;
                 var value = url.substring(url.lastIndexOf('/') + 1);
                 url = url.replace(value, chartId);
                 var state = { location: url };
                 history.pushState(state, chartId, url);

                 DrawChart(chartId);
             }

             function DrawChart(chartId)
             {
                 $('#charts.titleNav li').not('.bold').removeClass().addClass('off');
                 $('#' + chartId).removeClass('off').addClass('on');

                 switch (chartId)
                 {
                     case "@Constants.GrowthChartId":
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)));
                        break;
                    case "@Constants.BalanceChartId":
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)));
                        break;
                    case "@Constants.ProfitChartId":
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)));
                        break;
                    case "@Constants.DrawdownChartId":
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)));
                        break;
                    default:
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)));
                }
            }

         

            $(document).bind("kendo:skinChange", createChart);
        </script>
    </div>



</body>

