@using ForexBox.Helpers;

@model DL.Statistic
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <link href="@Url.Content("/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.dataviz.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.dataviz.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/kendo/kendo.default.min.css")" rel="stylesheet" />


    <script src="@Url.Content("/Scripts/kendo/console.js")"></script>
    <script src="@Url.Content("/Scripts/kendo/jquery.min.js")"></script>
    <script src="@Url.Content("/Scripts/kendo/kendo.dataviz.min.js")"></script>

</head>
<body>
    <div style="margin-top: 50px; margin-left: 50px;">
        @if (ViewData.ContainsKey("AccountError"))
        {
            <h3 style="color: red;margin-bottom:10px">You didn't choose any account</h3>
        }
        <div style="float: left;">
            @Html.Partial("StatisticInfo", Model.ShortStatisticData)
        </div>
        <div class="box_cont" style="float: left; margin-left: 15px">
            <div class="boxTitle">
                <ul id="charts" class="titleNav">
                    <li class="bold" style="cursor: auto">Chart</li>
                    <li id="@Constants.GrowthChartId" class="on" onclick="selectChart($(this).attr('id'));">Growth</li>
                    <li id="@Constants.BalanceChartId" class="off" onclick="selectChart($(this).attr('id'));">Balance</li>
                    <li id="@Constants.ProfitChartId" class="off" onclick="selectChart($(this).attr('id'));">Profit</li>
                    <li id="@Constants.DrawdownChartId" class="off" onclick="selectChart($(this).attr('id'));">Drawdown</li>
                </ul>
            </div>

            <div class="chart-wrapper" style="float: left">
                <div id="chart" style="height: 321px;"></div>
            </div>
        </div>
        <script>

            $(window).bind("popstate", function (e)
            {
                var state = e.originalEvent.state;
                if (state)
                    window.location.pathname = state.location;
            });

            $(document).ready(function ()
            {
                DrawChart("@Model.CurrentGraphType");
            });

            function createChart(graphData, graphSeries, isPercentage)
            {
                //debugger;
                var valueFormat = isPercentage ? "{0}%" : "${0}";
                var tooltipTemplate = isPercentage ? "#= series.name #, #= category #: #=  kendo.toString(value, '0.00') #%":
                                                   "#= series.name #, #= category #: $#= kendo.toString(value, '0.00') #";
               
                $("#chart").kendoChart({
                    dataSource: {
                        data: graphData
                    },
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                        type: "line"
                    },
                    series: graphSeries,
                    valueAxis: 
                        {
                            labels:{
                                format:valueFormat,
                                color:"#767676",
                                font:"10px verdana, sans-sarif"
                            },
                            line: 
                                {
                                    visible: false
                                },
                            
                        },
                    categoryAxis: 
                        {
                            field: "StringDate",
                            labels:
                                {
                                    step:3,
                                    color:"#767676"
                                },
                            majorGridLines: 
                                {
                                    visible: true
                                },
                        },
                    tooltip: 
                        {
                            visible: true,
                            template: tooltipTemplate
                        }

                });
            }

            function createBarChart(chartData, categories){
                $("#chart").kendoChart({
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Drawdown",
                        data: chartData
                    }],
                    valueAxis: {
                        labels: {
                            
                            format: "{0}%",
                            color:"#767676",
                            font:"10px verdana, sans-sarif"
                        },
                        line: {
                            visible: false
                        },
                        axisCrossingValue: 0
                    },
                    categoryAxis: {
                        categories: categories,
                        line: {
                            visible: false
                        },
                        labels:{ step:3,  color:"#767676"},
                        
                    },
                    tooltip: {
                        visible: true,
                       
                        template: "#= category #: #= kendo.toString(value, '0.00') #%"
                    }
                });
            }

            function selectChart(chartId)
            {
                var url = window.location.pathname;
                var value = url.substring(url.lastIndexOf('/') + 1);
                url = url.replace(value, chartId);
                var state = { location: url };
                history.pushState(state, chartId, url);

                DrawChart(chartId);
            }

            function DrawChart(chartId)
            {
                $('#charts.titleNav li').not('.bold').removeClass().addClass('off');
                $('#' + chartId).removeClass('off').addClass('on');
                
                switch (chartId)
                {
                    case "@Constants.GrowthChartId":
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)), createSeries("Growth","Growth", "EquityGrowth", "Equity growth"), true);
                        break;
                    case "@Constants.BalanceChartId":
                        createChart(@Html.Raw(Json.Encode(Model.BalanceData)),  createSeries("Balance","Balance", "Equity", "Equity"));
                        break;
                    case "@Constants.ProfitChartId":
                        createChart(@Html.Raw(Json.Encode(Model.ProfitData)), createSeries("Profit","Profit"));
                        break;
                    case "@Constants.DrawdownChartId":
                        createBarChart(@Html.Raw(Json.Encode(Model.DrawdownData.Select(x => x.Value))), @Html.Raw(Json.Encode(Model.DrawdownData.Select(x => x.StringDate))));
                        break;
                    default:
                        createChart(@Html.Raw(Json.Encode(Model.GrowthData)), createSeries("Growth","Growth", "EquityGrowth", "Equity growth"));
                }
            }

            function createSeries(firstField, firstTitle, secondField, secondTitle){
               
                var series= [{
                    width:1,
                    field: firstField,
                    name: firstTitle,
                    markers:{ size: 5},
                    notes: {
                        label: { position: "outside" },
                        position: "bottom"
                    }
                }, 
                    {
                        width:1,
                        markers:{ size: 5},
                        field: secondField,
                        name: secondTitle
                    }];
                return series;
            }

            $(document).bind("kendo:skinChange", createChart);
        </script>
    </div>



</body>

