@model DL.ShortStatistic
<link href="@Url.Content("/Content/ShortStatistic.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    function switchTab(tabId, button) {
        $('#info.titleNav li').not('.bold').removeClass().addClass('off');
        $(button).removeClass('off').addClass('on');
        $('.quickStats').hide();
        $('#' + tabId).show();
    }
</script>

<div class="box_cont" style="width: 195px; height: 348px">
    <div class="boxTitle">
        <ul id="info" class="titleNav">
            <li class="bold" style="cursor: auto">Info</li>
            <li class="on" onclick="switchTab('stats',this);">Stats</li>
            <li class="off" onclick="switchTab('gen',this);">General</li>
        </ul>
    </div>
    <ul class="quickStats" id="stats" style="">
        @if (Model.Settings.IsGainVisible)
        {
            <li class="font12 bold">
                <span class="floatLeft dotted" id="gainTip">Gain:</span>
                <span class="floatNone green">@Html.DisplayFor(x => x.AbsGain)%</span>
            </li>
        }

        @if (Model.Settings.IsDailyIncomeVisible)
        {
            <li class="paddT5">
                <span class="floatLeft dotted" id="dailyTip">Daily: </span>
                <span class="floatNone">$@Html.DisplayFor(x => x.Daily)</span>
            </li>
        }
        @if (Model.Settings.IsMonthlyIncomeVisible)
        {
            <li>
                <span class="floatLeft dotted" id="monthlyTip">Monthly: </span>
                <span class="floatNone">$@Html.DisplayFor(x => x.Monthly)</span>
            </li>
        }
        @if (Model.Settings.IsDrawdownVisible)
        {
            <li class="paddB5 borderB">
                <span class="floatLeft">Drawdown: </span>
                <span class="floatNone">@Html.DisplayFor(x => x.Drawdown)%</span>
            </li>
        }
        @if (Model.Settings.IsBalanceVisible)
        {
            <li class="paddT5">
                <span class="floatLeft">Balance:</span>
                <span class="floatNone">$@Html.DisplayFor(x => x.Balance)</span>
            </li>
        }
        @if (Model.Settings.IsEquityVisible)
        {
            <li>
                <span class="floatLeft">Equity:</span>
                <span class="floatNone">$@Html.DisplayFor(x => x.Equity)</span>
            </li>
        }
        @if (Model.Settings.IsHighestVisible)
        {
            <li>
                <span class="floatLeft">Highest:</span>
                <span class="floatNone">
                    <span class="gray font10">(@Model.HighestDate.ToString("MMMM") @Model.HighestDate.Date.ToString("dd")) </span>$@Html.DisplayFor(x => x.Highest)
                </span>
            </li>
        }
        @if (Model.Settings.IsProfitVisible)
        {
            <li class="paddB5">
                <span class="floatLeft">Profit:</span>
                <span class="floatNone green">$@Html.DisplayFor(x => x.Profit)</span>
            </li>
        }

        @if (Model.Settings.IsDepositsVisible)
        {
            <li class="paddT5 borderT">
                <span class="floatLeft">Deposits:</span>
                <span class="floatNone">$@Html.DisplayFor(x => x.Deposits)</span>
            </li>
        }
@*        @if (Model.Settings.IsWithdrawalsVisible)
        {
            <li class="paddB5 borderB">
                <span class="floatLeft">Withdrawals:</span>
                <span class="floatNone">$TODO</span>
            </li>
        }*@
    </ul>
    <ul class="quickStats" id="gen" style="display: none;">
        @if (Model.Settings.IsDescriptionVisible)
        {
            <li style="max-height: 134px; overflow: hidden; margin-bottom: 16px; text-align: left">
                <b>Description:</b><br>
                <div class="pointer inlineBlock" id="descTip">@Model.Desctiption</div>
            </li>
        }
        @if (Model.Settings.IsViewsVisible)
        {
            <li>
                <span class="floatLeft">Views:</span>
                <span class="floatNone">@Model.Views</span>
            </li>
        }
        @if (Model.Settings.IsBrokerVisible)
        {            
            <li class="paddT5"><span class="floatLeft">Broker: </span>
                <span class="floatNone">@Model.Broker</span>
            </li>
        }
        @if (Model.Settings.IsLeverageVisible)
        {
            <li><span class="floatLeft">Leverage: </span>
                <span class="floatNone">@Model.Leverage</span>
            </li>
        }
        @if (Model.Settings.IsTypeVisible)
        {
            <li>
                <span class="floatLeft">Type:</span>
                <span class="floatNone">@Model.Type</span>
            </li>
        }

        @if (Model.Settings.IsSystemVisible)
        {
            <li>
                <span class="floatLeft">System:</span>
                <span class="floatNone">@Model.System</span>
            </li>
        }
        @if (Model.Settings.IsTradingVisible)
        {
            <li>
                <span class="floatLeft">Trading:</span>
                <span class="floatNone">@Model.Trading</span>
            </li>
        }
        @if (Model.Settings.IsStartedVisible)
        {
            <li>
                <span class="floatLeft">Started:</span>
                <span class="floatNone">@Model.StartedDate.ToShortDateString()</span>
            </li>
        }
        @if (Model.Settings.IsTimezoneVisible)
        {
            <li>
                <span class="floatLeft">Timezone:</span>
                <span class="floatNone">GMT @Model.TimeZone</span>
            </li>
        }
    </ul>
</div>
